node_modules/
dist/
dist-ssr/
*.local

# Env files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Vite cache
.vite/

# TypeScript
*.tsbuildinfo

# Coverage / reports
coverage/
*.lcov

# OS / Editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
